
<!DOCTYPE html>
<html>
  <head>
   <style>
  .navbar-custom {
    color: blue;
    background-color: teal;
}
  </style> 
    <title> Restaurant Analysis </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="angularjs/adminController.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="adminController" ng-init="analyze()">
    


<div class="container-fluid" style="text-align:left; background-color: #FFFFFF;">
  <script type="text/javascript"
src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
<div class="container" >
    <div class="row" >
<div class="col-md-6">      
<div id="vizContainer" style="width:560px; height:350px;"></div>
</div>
<div class="col-md-6">
<div id="vizContainer1" style="width:560px; height:350px;"></div>
</div>
</div>

<br />
<br />

<div class="row" >
  <div class="col-md-6">
<div id="vizContainer2" style="width:560px; height:350px;"></div>
</div>

  <div class="col-md-6">
<div id="vizContainer3" style="width:560px; height:350px;"></div>
</div>
</div>


<br />
<br />

<div class="row" >
  <div class="col-md-6">
<div id="vizContainer4" style="width:560px; height:350px;"></div>
</div>

  <div class="col-md-6">
<div id="vizContainer5" style="width:560px; height:350px;"></div>
</div>
</div>


<br />
<br />

<div class="row" >
  <div class="col-md-6">
<div id="vizContainer6" style="width:560px; height:350px;"></div>
</div>

  <div class="col-md-6">
<div id="vizContainer7" style="width:560px; height:350px;"></div>
</div>
</div>



<div class="row" >
<div id="vizContainer8"></div>

</div>



</div>

</body>
</html>
